.notice-cont {
    position: fixed;
    top: 150px;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
    z-index: 200;
    .notification {
        background-color: #fed136;
        border-radius: 5px;
        width: 500px;
        max-width: 100%;
        padding: 20px;
        margin: auto;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        position: relative;
        color: #fafafa;
    }
    i.fa-close {
        font-size: 12px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
    &.show {
        opacity: 1;
        visibility: visible;
    }
}
