.share-btns {
    display: flex;
    & > div[role="button"] {
        margin-right: 15px;
        outline: none !important;
        cursor: pointer;
        svg {
            border-radius: 5px;
        }
    }
}
