.collapse-section {
  padding: 50px 0 0; }
  .collapse-section .section-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #9a9a9a;
    padding-bottom: 10px; }
    .collapse-section .section-title h3, .collapse-section .section-title i {
      color: #9a9a9a; }
    .collapse-section .section-title i {
      font-size: 20px;
      cursor: pointer;
      outline: none !important; }
    .collapse-section .section-title h3 {
      font-weight: 600;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  .collapse-section .loading-gif {
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 10px auto; }
    .collapse-section .loading-gif img {
      max-width: 100%;
      max-height: 100%; }
  .collapse-section .sec-info {
    transition-duration: 400ms;
    transition-timing-function: ease-in-out; }
    .collapse-section .sec-info.sec-info-hide {
      opacity: 0;
      visibility: hidden; }
    .collapse-section .sec-info.sec-info-show {
      opacity: 1;
      visibility: visible; }
