.btn.button {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700 !important;
    text-transform: uppercase;
    &.btn-lowercase {
        text-transform: lowercase;
    }
}

.btn.button-xl {
    font-size: 18px;
    padding: 20px 40px;
}

.btn.button-primary {
    background-color: #fed136;
    border-color: #fed136;
}

.btn.button-primary:active,
.btn.button-primary:focus,
.btn.button-primary:hover {
    background-color: #fec810 !important;
    border-color: #fec810 !important;
    color: white;
}

.btn.button-primary:active,
.btn.button-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}
.entergrate-btn {
    i {
        margin-left: 10px;
    }
}
