.input-col {
    margin: 15px 0;
    position: relative;
    label {
        color: #9a9a9a;
    }
    .input-container {
        position: relative;
        i {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            outline: none !important;
        }
    }
    input {
        height: 50px;
        padding-right: 30px;
    }
    textarea {
        resize: none;
    }
    input,
    textarea {
        transition-timing-function: ease-in-out;
        transition-duration: 400ms;
        color: #494949;
        &.no-editing {
            border-color: transparent;
            pointer-events: none;
        }
    }
    .text-remaining {
        position: absolute;
        right: 0;
        bottom: -20px;
        font-size: 12px;
    }
}
.input-container {
    .ql-toolbar.ql-snow {
        border-top: 0;
        border-left: 0;
        border-right: 0;
    }
    .ql-container.ql-snow {
        border: 0;
    }
}

.input-col,
.new-event-input {
    .invalid-feedback {
        width: calc(100% - 30px);
        display: block;
        position: absolute;
        bottom: -8px;
    }
}
.new-event-input {
    .invalid-feedback {
        font-size: 12px;
    }
}
