#login-form {
    border : 1px solid #e5e5e5;
    padding : 50px 40px 10px;
    border-radius: 5px;
    width : 600px;
    max-width: 100%;
    margin : 50px auto 0;
    & > div {
        margin-bottom: 30px;
    }
    .login-final-cta {
        text-align: center;
    }
}