.event-details {
  border: 1px solid #ededed;
  padding: 20px 0;
  border-right: 0;
  border-left: 0;
  color: #3a3a3a;
  font-size: 12px; }
  .event-details .event-title {
    display: flex;
    align-items: center;
    margin-bottom: 18px; }
    .event-details .event-title img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 10px; }
    .event-details .event-title span {
      font-size: 18px; }
  .event-details .event-admin-detail {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .event-details .event-admin-detail > .show-more {
      margin-top: 18px; }
  .event-details .event-default {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .event-details .show-more {
    margin: 0;
    outline: none !important; }
  .event-details .event-management .item-head {
    cursor: pointer; }
    .event-details .event-management .item-head.delete:hover {
      color: #dc3545; }
    .event-details .event-management .item-head.manage:hover {
      color: #28a745; }
    .event-details .event-management .item-head.modify:hover {
      color: #ffc107; }

.event-form label {
  font-size: 12px; }

.event-form .new-event-input, .event-form .requirement-input {
  margin: 15px 0; }

.event-form .requirement-input {
  position: relative; }
  .event-form .requirement-input i {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: 10px;
    cursor: pointer; }
  .event-form .requirement-input input {
    padding-right: 25px; }
