.volunteer-interest {
    border: 1px solid #ededed;
    padding: 20px 0;
    border-right: 0;
    border-left: 0;
    color: #3a3a3a;
}

.interest-status {
    font-size: 12px;
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    span {
        margin-right: 5px;
    }
    .status-icon {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        &.status-red {
            background: #ff5900;
        }
        &.status-green {
            background: #1cac4c;
        }
    }
}
.interest-applied-date {
    font-size: 12px;
    text-align: right;
}

.interest-location-date {
    display: flex;
    flex-wrap: wrap;
    & > div {
        margin-right: 50px;
        &:first-child {
            margin-bottom: 10px;
        }
    }
}
.show-more-interest {
    outline: none !important;
    cursor: pointer;
}
